@model IEnumerable<BorrowModel>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Taker</th>
            <th scope="col">Provider</th>
            <th scope="col">Book name</th>
            <th scope="col">Last Update</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var borrow in Model)
            {
                <tr>
                    <th scope="row">@borrow.Taker</th>
                    <td>@borrow.Provider</td>
                    <td>@borrow.BookName</td>
                    <td>@borrow.BorrowUpdateDate</td>
                </tr>
            }
        }  
    </tbody>

</table> 